In [171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbs
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer

In [155]:
data = pd.read_csv('churn.csv')
data = data.drop('customerID', axis=1)
len(data)

7043

In [156]:
t =(data['TotalCharges']==' ')
zer = [i for i, x in enumerate(t) if x]
data = data.drop(data.index[zer])
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'])
len(data)

7032

In [158]:
data_sub = data.select_dtypes(include='O')

In [159]:
for i in data_sub:
    print(set(data[i]))

{'Male', 'Female'}
{'Yes', 'No'}
{'No', 'Yes'}
{'No', 'Yes'}
{'No', 'No phone service', 'Yes'}
{'No', 'Fiber optic', 'DSL'}
{'No', 'No internet service', 'Yes'}
{'Yes', 'No', 'No internet service'}
{'No', 'No internet service', 'Yes'}
{'No', 'No internet service', 'Yes'}
{'No', 'No internet service', 'Yes'}
{'No', 'No internet service', 'Yes'}
{'Two year', 'Month-to-month', 'One year'}
{'Yes', 'No'}
{'Credit card (automatic)', 'Electronic check', 'Mailed check', 'Bank transfer (automatic)'}
{'No', 'Yes'}

In [160]:
data.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [175]:
def dummyEncode(data):
        col = list(data.select_dtypes(include='object'))
        enc = LabelBinarizer()
        for i in col:
            try:
                data[i] = enc.transform(data[i])
            except:
                print('Error encoding '+i)
        return data

In [176]:
dummyEncode(data)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
5,0,0,0,0,8,1,2,1,0,0,2,0,2,2,0,1,2,99.65,820.50,1
6,1,0,0,1,22,1,2,1,0,2,0,0,2,0,0,1,1,89.10,1949.40,0
7,0,0,0,0,10,0,1,0,2,0,0,0,0,0,0,0,3,29.75,301.90,0
8,0,0,1,0,28,1,2,1,0,0,2,2,2,2,0,1,2,104.80,3046.05,1
9,1,0,0,1,62,1,0,0,2,2,0,0,0,0,1,0,0,56.15,3487.95,0
10,1,0,1,1,13,1,0,0,2,0,0,0,0,0,0,1,3,49.95,587.45,0
11,1,0,0,0,16,1,0,2,1,1,1,1,1,1,2,0,1,18.95,326.80,0
12,1,0,1,0,58,1,2,1,0,0,2,0,2,2,1,0,1,100.35,5681.10,0
13,1,0,0,0,49,1,2,1,0,2,2,0,2,2,0,1,0,103.70,5036.30,1
14,1,0,0,0,25,1,0,1,2,0,2,2,2,2,0,1,2,105.50,2686.05,0
15,0,0,1,1,69,1,2,1,2,2,2,2,2,2,2,0,1,113.25,7895.15,0
16,0,0,0,0,52,1,0,2,1,1,1,1,1,1,1,0,3,20.65,1022.95,0
17,1,0,0,1,71,1,2,1,2,0,2,0,2,2,2,0,0,106.70,7382.25,0
18,0,0,1,1,10,1,0,0,0,0,2,2,0,0,0,0,1,55.20,528.35,1
19,0,0,0,0,21,1,0,1,0,2,2,0,0,2,0,1,2,90.05,1862.90,0
20,1,1,0,0,1,0,1,0,0,0,2,0,0,2,0,1,2,39.65,39.65,1
21,1,0,1,0,12,1,0,2,1,1,1,1,1,1,1,0,0,19.80,202.25,0
22,1,0,0,0,1,1,0,2,1,1,1,1,1,1,0,0,3,20.15,20.15,1
23,0,0,1,0,58,1,2,0,0,2,0,2,0,0,2,1,1,59.90,3505.10,0
24,1,0,1,1,49,1,0,0,2,2,0,2,0,0,0,0,1,59.60,2970.30,0
25,0,0,0,0,30,1,0,0,2,2,0,0,0,0,0,1,0,55.30,1530.60,0
26,1,0,1,1,47,1,2,1,0,2,0,0,2,2,0,1,2,99.35,4749.15,1
27,1,0,1,1,1,0,1,0,0,2,0,0,0,0,0,0,2,30.20,30.20,1
28,1,0,1,0,72,1,2,0,2,2,2,2,2,2,2,1,1,90.25,6369.45,0
29,0,0,0,1,17,1,0,0,0,0,0,0,2,2,0,1,3,64.70,1093.10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,0,0,0,0,40,1,2,1,0,2,2,0,2,0,0,1,0,93.40,3756.40,0
7014,1,0,0,0,41,1,2,1,0,2,0,0,2,0,0,1,2,89.20,3645.75,0
7015,1,1,1,0,34,1,0,1,0,0,2,0,2,0,0,1,1,85.20,2874.45,0
7016,0,0,0,0,1,1,0,0,0,2,0,0,0,0,0,0,2,49.95,49.95,0
7017,0,0,0,0,51,1,0,2,1,1,1,1,1,1,2,0,0,20.65,1020.75,0
7018,1,0,1,1,1,1,0,1,0,0,0,0,0,0,0,1,3,70.65,70.65,1
7019,0,0,0,0,39,1,0,2,1,1,1,1,1,1,2,0,3,20.15,826.00,0
7020,1,0,1,1,12,1,0,2,1,1,1,1,1,1,0,1,2,19.20,239.00,0
7021,1,0,0,0,12,1,0,0,0,0,0,2,2,0,1,1,2,59.80,727.80,1
7022,1,0,0,0,72,1,2,1,0,2,2,0,2,2,1,1,2,104.95,7544.30,0
7023,0,1,1,0,63,1,2,1,0,2,2,0,2,2,0,1,2,103.50,6479.40,0
7024,1,0,1,0,44,1,2,1,2,0,2,0,0,0,0,1,1,84.80,3626.35,0
7025,0,0,0,0,18,1,2,1,0,0,2,2,0,2,0,1,0,95.05,1679.40,0
7026,0,0,0,0,9,1,0,0,0,0,0,0,0,0,0,1,0,44.20,403.35,1
7027,1,0,0,0,13,1,0,0,0,2,0,2,2,2,0,0,3,73.35,931.55,0
7028,0,0,1,0,68,1,0,0,0,2,0,2,2,0,2,0,0,64.10,4326.25,0
7029,0,1,0,0,6,0,1,0,0,0,0,0,2,2,0,1,2,44.40,263.05,0
7030,0,0,0,0,2,1,0,2,1,1,1,1,1,1,0,1,3,20.05,39.25,0
7031,1,1,1,0,55,1,2,0,2,2,0,0,0,0,1,0,1,60.00,3316.10,0
7032,1,1,0,0,1,1,2,1,0,0,0,0,0,0,0,1,2,75.75,75.75,1
7033,1,0,0,0,38,1,0,1,0,0,0,0,0,0,0,1,1,69.50,2625.25,0
7034,0,0,0,0,67,1,2,1,2,2,2,0,2,0,0,1,1,102.95,6886.25,1
7035,1,0,0,0,19,1,0,1,0,0,0,0,2,0,0,1,0,78.70,1495.10,0
7036,0,0,0,0,12,0,1,0,0,2,2,2,2,2,1,0,2,60.65,743.30,0
7037,0,0,0,0,72,1,0,2,1,1,1,1,1,1,2,1,0,21.15,1419.40,0
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50,0
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90,0
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45,0
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60,1
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50,0